Repository BCSDLab/KOALA_FRONT_END, pull requests merged in 2021-12, with the labels that each got.

#6 사이드네비게이션바 스타일 작성
  asset/.gitkeep
  package.json
  public/asset/Chat.svg
  public/asset/Hashtag.svg
  public/asset/History.svg
  public/asset/KeywordDropDown.svg
  public/asset/KoalaLogo.svg
  public/asset/MenuBtn.svg
  public/asset/Plus.svg
  public/asset/Setting.svg
  public/index.html
  src/App.js
  src/components/SideNavbar/.gitkeep
  src/components/SideNavbar/KeywordDropdown.js
  src/components/SideNavbar/SideNavMenu.js
  src/components/SideNavbar/index.js
  src/components/SideNavbar/styles.js
  src/index.js
  src/pages/chatPage.js
  src/pages/historyPage.js
  src/pages/keywordPage.js
  src/pages/myPage.js
  src/store/auth.js
Labels: Bug, Docs, Feature, Help, Refactoring, Chore, Style

#7 로그인 관련 스타일 작성
  .gitignore
  package.json
  public/asset/dropDown.svg
  public/asset/googleLogo.webp
  public/asset/kakaoLogo.webp
  public/asset/mainLogo.svg
  public/asset/naverLogo.webp
  public/asset/pwdEye.svg
  src/App.js
  src/components/Auth/AuthMainForm.js
  src/components/Auth/IdFindForm.js
  src/components/Auth/PwdChange.js
  src/components/Auth/PwdFindForm.js
  src/components/Auth/PwdInput.js
  src/components/Auth/RegisterCheckBox.js
  src/components/Auth/RegisterDocForm.js
  src/components/Auth/RegisterForm.js
  src/components/Auth/index.js
  src/components/Auth/styles.js
  src/components/History/.gitkeep
  src/components/Shared/AuthNumber.js
  src/components/Shared/Button.js
  src/components/Shared/CircleCheckBox.js
  src/components/Shared/Switch.js
  src/pages/AuthPage.js
  yarn.lock
Labels: Feature, Style

#9 로그인 관련 기능 추가
  .env
  .gitignore
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/api/auth.js
  src/api/logined.js
  src/components/Auth/AuthMainForm.js
  src/components/Auth/ChangePw.js
  src/components/Auth/FindId.js
  src/components/Auth/FindPw.js
  src/components/Auth/IdInput.js
  src/components/Auth/Login.js
  src/components/Auth/PwdInput.js
  src/components/Auth/Register.js
  src/components/Auth/RegisterDoc.js
  src/components/Shared/Cookies.js
  src/constant/path.js
  src/index.js
  src/pages/AuthPage.js
  src/pages/mainPage.js
  src/reportWebVitals.js
  src/setupTests.js
  src/store/auth.js
  src/store/createRequestSaga.js
  src/store/index.js
  src/store/loading.js
  yarn.lock
Labels: Docs, Feature, Help

#14 아이디 찾기 스타일 작성
  package.json
  src/components/Auth/ChangePw.js
  src/components/Auth/FindId.js
  src/components/Auth/FindPw.js
  src/components/Auth/IdInput.js
  src/components/Auth/Login.js
  src/components/Auth/Register.js
  src/components/Auth/Shared/IdInput.js
  src/components/Auth/Shared/PwdInput.js
  src/components/Auth/index.js
  src/components/Auth/styles.js
  src/components/Shared/AuthNumber.js
  src/components/Shared/Button.js
  yarn.lock
Labels: Feature, Chore, Style
