Repository BCSDLab/KOALA_FRONT_END, pull requests merged in 2022-04, with the labels that each got.

#77 사이드바 애니메이션 추가
  src/App.js
  src/components/SideNavbar/KeywordDropdown.js
  src/components/SideNavbar/SideNavMenu.js
  src/components/SideNavbar/index.js
  src/components/SideNavbar/styles.js
  src/pages/ChatPage.js
  src/pages/HistoryPage.js
  src/pages/KeywordPage.js
  src/pages/MyPage.js
  src/pages/mainPage.js
  src/store/toggle.js
Labels: Refactoring, Style

#75 로그인 회원가입 오류 시
  src/components/Auth/Find/FindId.js
  src/components/Auth/Login/LoginForm.js
  src/components/Auth/Register/Register.js
  src/components/Auth/Shared/EmailForm.js
  src/components/Auth/index.js
  src/components/Auth/styles.js
  src/constant/index.js
  src/store/auth.js
Labels: Feature, Style

#79 fix : 폰트 반복렌더링(깜빡임) 현상 수정
  public/index.css
  public/index.html
  src/GlobalStyle.js
Labels: Bug
