Repository BCSDLab/KOALA_FRONT_END, pull requests merged in 2022-01, with the labels that each got.

#23 마이페이지 작성
  public/asset/BaseUser.svg
  public/asset/CheckCircleOff.svg
  public/asset/CheckCircleOn.svg
  public/asset/pencil.svg
  src/App.js
  src/api/index.js
  src/components/Hisotory/.gitkeep
  src/components/Mypage/.gitkeep
  src/components/Mypage/AutoLogin.js
  src/components/Mypage/EditNickname.js
  src/components/Mypage/SchoolAuth.js
  src/components/Mypage/styles.js
  src/components/Shared/LoginButton.js
  src/components/SideNavbar/index.js
  src/components/SideNavbar/styles.js
  src/constant/index.js
  src/pages/ChatPage.js
  src/pages/HistoryPage.js
  src/pages/KeywordPage.js
  src/pages/MainPage.js
  src/pages/MyPage.js
  src/pages/myPage.js
  src/store/auth.js
  src/store/createRequestSaga.js
  src/store/index.js
  src/store/myPage.js
  src/store/toggle.js
Labels: Docs, Feature, Style

#25 로그인 페이지 스타일 조정
  public/asset/google-logo.svg
  public/asset/kakao-logo.svg
  public/asset/naver-logo.svg
  src/GlobalStyle.js
  src/components/Auth/Login.js
  src/components/Auth/styles.js
  src/components/Shared/Switch.js
Labels: Style

#31 채팅 학교 인증 페이지 작성
  public/asset/KUTLogo.webp
  src/App.js
  src/GlobalStyle.js
  src/api/index.js
  src/components/Chat/.gitkeep
  src/components/Chat/AuthUniversity.js
  src/components/Chat/ChatAuth.js
  src/components/Chat/Header.js
  src/components/Chat/Notifications.js
  src/components/Chat/Unauth.js
  src/components/Chat/UniversityAuth.js
  src/components/Shared/LoginButton.js
  src/constant/index.js
  src/pages/ChatPage.js
  src/store/chat.js
  src/store/index.js
Labels: Feature, Style

#27 ThemeProvider 설정
  src/App.js
  src/GlobalStyle.js
  src/components/Auth/Login.js
  src/components/Auth/LoginForm.js
  src/components/Auth/Register.js
  src/components/Auth/Shared/IdInput.js
  src/components/Auth/Shared/PwdInput.js
  src/components/Auth/styles.js
  src/components/Mypage/styles.js
  src/components/Shared/AuthNumber.js
  src/components/Shared/Button.js
  src/components/Shared/CircleCheckBox.js
  src/components/Shared/LoginButton.js
  src/components/Shared/Switch.js
  src/components/SideNavbar/index.js
  src/components/SideNavbar/styles.js
  src/index.js
  src/pages/MyPage.js
  src/theme.js
Labels: Refactoring, Style

#30 키워드 목록 페이지
  public/asset/check.svg
  public/asset/chevron-down.svg
  public/asset/chrome.png
  public/asset/hashtagblack.svg
  public/asset/inbox-in.svg
  public/asset/minus.svg
  public/asset/search.svg
  public/asset/searchblack.svg
  public/asset/trash.svg
  public/asset/x.svg
  src/api/index.js
  src/components/Keyword/KeywordFilter/index.js
  src/components/Keyword/KeywordFilter/styles.js
  src/components/Keyword/KeywordHeader/index.js
  src/components/Keyword/KeywordHeader/styles.js
  src/components/Keyword/KeywordList/index.js
  src/components/Keyword/KeywordList/styles.js
  src/components/Keyword/KeywordMenuBar/index.js
  src/components/Keyword/KeywordMenuBar/styles.js
  src/components/Keyword/KeywordSearch/index.js
  src/components/Keyword/KeywordSearch/styles.js
  src/components/Keyword/utils/index.js
  src/constant/index.js
  src/pages/KeywordPage.js
  src/pages/MainPage.js
  src/store/index.js
  src/store/keyword.js
Labels: Feature, Style

#35 마이페이지 유저 이미지 변경 기능 추가
  src/api/index.js
  src/components/Mypage/SchoolAuth.js
  src/pages/MyPage.js
  src/store/index.js
  src/store/myPage.js
Labels: Feature

#37 UUID 생성기 추가 및 비회원 로그인 기능 추가, 로그인 실패에 대한 오류 처리 작성
  src/App.js
  src/api/index.js
  src/api/logined.js
  src/components/Auth/Login.js
  src/components/Auth/LoginForm.js
  src/components/Keyword/KeywordHeader/index.js
  src/components/Shared/Cookies.js
  src/components/Shared/LoginButton.js
  src/pages/MainPage.js
  src/store/auth.js
  src/store/index.js
  src/store/myPage.js
Labels: Feature

#33 모바일 스타일 작성 : 로그인 페이지
  src/App.js
  src/components/Auth/Find/ChangePw.js
  src/components/Auth/Find/FindId.js
  src/components/Auth/Find/FindPw.js
  src/components/Auth/Login/Login.js
  src/components/Auth/Login/LoginForm.js
  src/components/Auth/Register/Register.js
  src/components/Auth/Register/RegisterDoc.js
  src/components/Auth/index.js
  src/components/Auth/styles.js
  src/components/Shared/Button.js
  src/theme.js
Labels: Docs, Style

#38 아이디, 비밀번호 찾기 페이지 기능 구현
  src/App.js
  src/api/index.js
  src/components/Auth/Find/ChangePw.js
  src/components/Auth/Find/FindId.js
  src/components/Auth/Find/FindPw.js
  src/components/Auth/Register/Register.js
  src/components/Auth/Shared/AccountForm.js
  src/components/Auth/Shared/AuthNumberForm.js
  src/components/Auth/Shared/CommonInput.js
  src/components/Auth/Shared/ConfiremdPasswordForm.js
  src/components/Auth/Shared/EmailForm.js
  src/components/Auth/Shared/PasswordForm.js
  src/components/Auth/Shared/PwdInput.js
  src/components/Shared/AuthNumber.js
  src/constant/index.js
  src/store/auth.js
  src/store/index.js
Labels: Feature, Refactoring
